<nav class="navbar d-block navbar-dark sidebar bg-dark">
    <a class="navbar-brand pl-4 font-weight-bold" href="#">
       Quotient Tasks
    </a>

        <ul class="navbar-nav flex-column">
            <li class="nav-item active">
                <a routerLink="/"  class="nav-link" ><i class="fa fa-home  pr-2"></i>  Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a routerLink="/Create" class="nav-link" href="#"><i class="fa fa-plus pr-2"></i>  Create<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/New" class="nav-link active" href="#"><i class="fa fa-plus-circle pr-2"></i>  Open New</a>
            </li>
            
            <li class="nav-item active">
                <a routerLink="/In-Progress"  class="nav-link active" ><i class="fa fa-spinner  pr-2"></i>  In Progress<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a routerLink="/On-Hold" class="nav-link active" href="#"><i class="fa fa-pause pr-2"></i>  On Hold<span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
                <a routerLink="/Completed" class="nav-link active" href="#"><i class="fa fa-check pr-2"></i>  Completed</a>
            </li>

           
            <li role="separator" class="divider"></li>
            <li class="nav-item">
                <a routerLink="/Priority" class="nav-link active" href="#"><i class="fa fa-flag pr-2"></i>  Priority Task</a>
            </li>
            
           
        </ul>

</nav>